{% extends 'base.html' %}
{% block content %}


<bodY>


    <!-- <form action="" method="POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
    </form> -->

    <section id="contact" class="container" >
        <form action="" method="POST">
            <h2>Contacnt Sabantu</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <input type="submit" value="Submit"/> -->
        <button type="submit" class="sendBut" name="send">Send Message</button>
        </form>
    </section>


</bodY>


{% endblock %}