{% extends 'base.html' %}
{% block content %}

<h1>
    Project Page
</h1>

<section class="content-container">
    <!-- Wayfarer -->
    <div class="project-container">
    <p class=>Wayfarer</p>
        <a href="https://wayfarer-trave-community.herokuapp.com/">
        <img class="portfolio-image" src="../static/images/Screen Shot 2020-09-29 at 10.23.03 AM.png" alt="wayfarer">
        <!-- <p class="project-details">Timer interval w/ event listeners.</p> -->
        </a>
    </div>
</section>
{% endblock %}